<html>
<head>
<style>
div.c {
  text-align: right;
} 

</style>
</head>
<body>

<div class="c"> <%= button_to "Teachers Homepage", "/teachers"%> <%= button_to "Daycares Homepage", "/daycares" %> </div>

<p><h3> Teachers of <%=@daycare.name%> Daycare</h3></p>
<p></p>
<p></p>
<p> <%= link_to "Sort alphabetically", "/daycares/#{@daycare.id}/teachers/sort" %> |

<%= form_with url: "/daycares/#{@daycare.id}/teachers", method: :get, local: true do |form|%>
  <%= form.label :student_count, "Teacher with students over #" %>
  <%= form.text_field :student_count %>

<%= form.submit 'Submit' %>

<% end %></p>
<p></p>
<p></p>
<p></p>
<% @teachers.each do |teacher| %>
<p> <%= link_to teacher.name, "/teachers/#{teacher.id}" %> - <%= link_to "Edit", "/teachers/#{teacher.id}/edit" %> |
<%=link_to "Delete", "/daycares/#{teacher.id}/teachers", method: :delete %> </p>
<% end %>

<%= button_to "Create Teacher", "/daycares/#{@daycare.id}/teachers/new"%>