<html>
<head>
<style>
div.c {
  text-align: right;
} 

</style>
</head>
<body>

<div class="c"> <%= button_to "Teachers Homepage", "/teachers"%> <%= button_to "Daycares Homepage", "/daycares" %> </div>

<p><h3> Teachers of <%=@daycare.name%> Daycare</h3></p>
<p></p>
<p></p>

<%sorted = @teachers.sort_by do |teacher| %>
<% teacher.name %>
<% end %>

<% sorted.each do |teacher|%>
<p><%= link_to teacher.name, "/teachers/#{teacher.id}" %></p>
<% end %>

<%= button_to "Create Teacher", "/daycares/#{@daycare.id}/teachers/new"%>