<h2><%= @daycare.name %> Daycare Stats</h3>

<p><h3> <%= @daycare.name%> </h3></p> 
<p><h4> <%= @daycare.total_teachers%> </h4></p>
<p><h4> A maximum capacity of <%= @daycare.total_students%> </h4></p>
<p><h4> <% if @daycare.enrollment_full == false %>
           <p><h4> <%= "The enrollment is currently still accepting students" %> </h6></p>
        <% else %>
           <p><h4> <%= "The enrollment is currently full and is not accepting new students at this time" %> </h4></p>
        <% end %>


