<html>
<head>
<style>

div.c {
  text-align: right;
} 

</style>
</head>
<body>

<div class="c"> <%= button_to "Teachers Homepage", "/teachers"%> <%= button_to "Daycares Homepage", "/daycares" %> </div>

<p> Teacher: <%= @teacher.name %> </p>

<p> Daycare code: <%= @teacher.daycare_id%> </p>
<p> Total Students: <%= @teacher.max_students %> </p>
<% if @teacher.enrollment_full == false %>
<p> <%=  "This teacher still has room for more students" %> </p>
<% else %>
<p> <%= "This teacher does NOT have the capcity for more students"%> </p>
<% end %>

<p> <%= button_to 'Update Teacher', "/teachers/#{@teacher.id}/edit" %> </p>
<p><h6> <%= link_to "Delete Teacher", "/teachers/#{@teacher.id}", method: :delete %> </h6></p>



